@{
    ViewBag.Title = "BuildInProgress";
}

<div class="page_wrapper">
    <header>
        <h2>@ViewBag.Message</h2>
        <h5>
            Click this
            <button class="try_again">button</button>
            when that other build is finished.
        </h5>
        @{if (ViewBag.IsAuthorizedToOverrideBuildInProgress == true)
        {
            <h3>If you absolutely, positively know you received this message in error...</h3>
            <h5>
                You can override it by clicking this
                <button class="override">button</button>.
            </h5>
        }
        }
    </header>
</div>
<script>
    var $button = Web.enhance("h5 button.try_again");
    $button.click(function () { location.href = "Default"; });
    var $override = Web.enhance("h5 button.override");
    $override.click(function () { location.href = "Override"; });
</script>

@section styles
    {
    <link href="@Url.Content("~/Content/BuildInProgress_Style.css")" rel="stylesheet" type="text/css" />
}