@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dude</title>
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h1 class="super">You need super-duper permissions to do that.</h1>
    </div>
</body>
</html>
